qrcode==7.4.2
accelerate>=1.0.0
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
async-timeout
attrs
brotli
certifi
cffi
charset-normalizer
click
colorama
cryptography
dashscope
distro
et-xmlfile
exceptiongroup
fastapi
ffmpy
filelock
frozenlist
fsspec
gradio
gradio-client
groovy
h11
hf-xet
httpcore
httpx
huggingface-hub
idna
jinja2
jiter
lxml
markdown-it-py
markupsafe
mdurl
mpmath
multidict
networkx
openai
openpyxl
orjson
pdfminer-six
pdfplumber
pillow
propcache
psutil
pycparser
pydantic
pydantic-core
pydub
pygments
pymupdf
pypdf2
pypdfium2
python-docx
python-multipart
python-pptx
pyyaml
regex
requests
rich
safehttpx
safetensors
scipy
semantic-version
sentence-transformers
shellingham
sniffio
starlette
sympy
tokenizers
tomlkit
torch
torchaudio
torchvision
tqdm
transformers
typer
typer-slim
typing-extensions
typing-inspection
urllib3
uvicorn
websocket-client
xlsxwriter
yarl
faiss-cpu
numpy
pandas
scikit-learn
